body {
    width: 100vw;
    height: 100vh;
    background: url("./img/1366_2000.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto; 

}

.active-background {
    background: url("./img/comedor-nigth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto; 
}

#time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% auto;
    width: 400px;
    height: 30%;
    border-radius: 10px;
}

#inProgressMessage span{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 1% auto;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background:  #89000062;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;

}

#taskName{
    font-family: 'Mountains of Christmas', serif;
    color: #d8a40e;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1% auto;
}

.reloj {
    display: flex; 
    justify-content: center;
    align-items: center;
    align-content: center;
}

#minutes, #seconds {
    border-radius: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 110px;
    height: 150px; 
    background:#e1b43d;
    color: whitesmoke;
    font-family: 'Mountains of Christmas', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px; 
    text-align: center;
    margin: 0 5px;
}

.pendientes-list{
    margin: 0 auto;
    width: 400px;
    background-color: rgba(245, 245, 245, 0.115);
    border-radius: 10px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Mountains of Christmas', serif;
    color:#d8a40e;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto
}

#tasks{
    display:flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

 .task{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 400px;
    margin: 0 auto;

}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 260px;
    height: 45px;
    background:  #d8a40e;
    border-radius: 6px;
    color: whitesmoke;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin: 5px
}


.start-button{
    background: #e1b43d;
    color: whitesmoke;
    width: 100px;
    height: 70px;
    text-align: right;
    border-radius: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}

.start-button img{
    width: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.completed{
    display: flex;
    width: 110px;
    height: 40px;
}
.done{
    background-color:#366447;
    color: whitesmoke;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    
}


.tasks-container {
    margin: 1% auto;
    width: 400px;
    height: 30%; 
    background-color: rgba(245, 245, 245, 0.115);
    border-radius: 10px;
    box-sizing: border-box;
}


#form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    
}


span{
color:whitesmoke;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
margin-bottom: -2px;
margin: 0 20%
}

input[type="text" i]{

    align-items: center;
    border-radius: 6px;
    border: 2px solid #D8D8D8;
    background: #FCFDFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    width: 300px;
    margin: 0 auto
}


input[type="submit" i]{

    border-radius: 6px ;
    background: #F2AC57;
    color: #FFFDFD;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 20px auto;
    width: 300px

    
}















